<?xml version="1.0"?>
<!--
/**
 * ITEP_Incomm extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE_FH.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       ITEP
 * @package        ITEP_Incomm
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <ITEP_Incomm>
            <version>1.0.0</version>
        </ITEP_Incomm>
    </modules>
    <frontend>

        <!-- here we define a new router to this extension -->
        <routers>
            <itep_incomm>
                <use>standard</use>
                <args>
                    <module>ITEP_Incomm</module>
                    <frontName>helloworld</frontName>
                </args>
            </itep_incomm>
        </routers>

        <!-- any layout updates which are specific to this module is
             going to hold by this layout xml file
        -->
        <layout>
            <updates>
                <itep_incomm>
                     <file>incommmenu.xml</file>
                </itep_incomm>
            </updates>
        </layout>
    </frontend>
    <global>

        <!-- All of my blocks are come under the block group `itep_incomm`.
             So anyone can use this block group name in order to refer blocks
             which are parts of this module
        -->
        <blocks>
            <itep_incomm>
                <class>ITEP_Incomm_Block</class>
            </itep_incomm>
        </blocks>
    </global>
</config>

