<config>
	<modules>
		<Rkt_DemoViewer>
			<version>1.0.0</version>
		</Rkt_DemoViewer>
	</modules>
	<frontend>
		<routers>
            <rkt_demoviewer>
                <use>standard</use>
                <args>
                    <module>Rkt_DemoViewer</module>
                    <frontName>demoview</frontName>
                </args>
            </rkt_demoviewer>
        </routers>
        <layout>
        	<updates>
        		<rkt_demoviewer>
        			<file>rkt_demoviewer.xml</file>
        		</rkt_demoviewer>
        	</updates>
        </layout>
	</frontend>
</config>